# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

package/fe/node_modules
package/fe/.pnp
package/fe/.pnp.js
# testing
/coverage
package/fe/coverage
# next.js
package/fe/.next/
package/fe/out/

# production
package/fe/build

# misc
.DS_Store
*.pem

# debug
package/fe/npm-debug.log*
package/fe/yarn-debug.log*
package/fe/yarn-error.log*
package/fe/.pnpm-debug.log*

# local env files
package/fe/.env*.local

# vercel
package/fe/.vercel

# typescript
package/fe/*.tsbuildinfo
package/fe/next-env.d.ts

build-push.bat

.idea